@import "./fonts.scss";
@import "./variables.scss";
@import "./typograhie.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
