@font-face {
  font-family: "1942";
  src: url("@/assets/fonts/1942.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Sebastian";
  src: url("@/assets/fonts/SebastianBobby.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-style: italic;
  font-family: "SchnyderS";
  src: url("@/assets/fonts/SchnyderS-LightItalic.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-weight: 100;
  font-family: "SchnyderS";
  src: url("@/assets/fonts/SchnyderS-Light.otf") format("opentype");
  font-display: swap;
}

h3 {
  text-transform: lowercase;
}