$primary: #fcfafa;
$secondary: #b71616;

@mixin above($arg) {
  $width: "";

  @if $arg=="xsmall" {
    $width: 540px;
  }

  @if $arg=="small" {
    $width: 720px;
  }

  @if $arg=="medium" {
    $width: 940px;
  }

  @if $arg=="big" {
    $width: 1200px;
  }

  @if $arg=="large" {
    $width: 1441px;
  }

  @media screen and (min-width: $width) {
    @content;
  }
}

@mixin typo-text-footer {
  color: #260f01;
  font-family: "1942";
  font-size: 16px;
  line-height: 18px;
}

@mixin typo-text-footer-mobile {
  color: #260f01;
  font-family: "1942";
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}